<div class="faq-content">
  <h1>FAQ yaooo</h1>
</div>

{% schema %}
{
  "name": "t:sections.apps.name",
  "tag": "section",
  "class": "section",
  "settings": [
    {
      "type": "header",
      "content": "FAQ"
    }
  ],
  "blocks": [],
  "presets": []
}
{% endschema %}
